<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Health | Powered by AI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated-headline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        .container1 {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        fieldset {
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
        }

        input[type="text"],
        input[type="number"],
        select,
        textarea {
            width: calc(100% - 22px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box;
            margin-bottom: 10px;
            font-size: 16px;
        }

        #image-upload {
            margin: 20px 0;
        }

        #upload-btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
    </style>

</head>

<body>
    <!-- Include loader.html for loading animation -->
    <div id="loader-container"></div>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ url_for('static', filename='img/logo/loder.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky" style="padding-bottom: 0px;">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/"><img
                                        src="{{ url_for('static', filename='img/logo/logo_mediscan_footer.png') }}"
                                        alt="MediScan-360" style="height: 35px"></a>
                            </div>

                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a>Advance Tests</a>
                                                <ul class="submenu">
                                                    <li><a href="/heart_attack">Heart Disease</a></li>
                                                    <li><a href="/cancer_test">Cancer Detection</a></li>
                                                    <li><a href="/thyroid">Endocrine Tests</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/blog">Resources</a>

                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                    <a href="/test" class="btn header-btn">Take a Test</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <section class="wantToWork-area section-bg3"
            data-background="{{ url_for('static', filename='img/gallery/section_bg01.png') }}">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2 style="margin-left: 30%;">Heart Disease Prediction System</h2>
                                <!-- <p>Tailored Diagnosis for Specific Health Needs</p> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="service-area">
            <div class="container">
                <div class="row">

                    <div class="container1" ,id="container">
                        <h1>Provide Correct Details to Proceed!</h1><br />
                        <form id="heartdisease_form_details" action="/submit_heatdisease" method="post"
                            enctype="multipart/form-data">
                            <!-- Personal Information -->
                            <fieldset>
                                <legend>Personal Information</legend>
                                <div>
                                    <legend for="name">Name :</legend>
                                    <input type="text" id="name" name="name" required>
                                </div>
                                <div>
                                    <legend for="age">Age:</legend>
                                    <input type="number" id="age" name="age" required>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Upload Heart ECG</legend>
                                <legend for="image">ECG :</legend>
                                <input type="file" id="image-upload" name="image" accept="image/*">
                            </fieldset>
                            <fieldset id="testResultFieldset" style="display:none;">
                                <legend>Test Result</legend>
                                <p id="ecgResponseParagraph"></p>
                                <p>Note: Please don't panic with the displayed result. It is just a
                                    prediction.<br>Consult your doctor regarding this before taking any action.</p>
                                <p><strong>Ultimately, it is a machine, it may be wrong.</strong></p>
                            </fieldset>
                            <!-- Submit Button -->
                            <button type="submit" id="upload-btn"
                                style="background-color: lightgreen; text-transform: inherit; font-size: medium; margin-left: 40%;">Submit</button>
                            <!-- Success message container -->
                            <div id="successMessage" style="display: none; color: green; margin-left: 20%;">Details are
                                Submitted. Wait until result is fetched!</div>

                            <script>
                                // Function to show test result and refresh page after 10 seconds
                                function showTestResult(result) {
                                    document.getElementById("ecgResponseParagraph").innerText = result;
                                    document.getElementById("testResultFieldset").style.display = "block";
                                    // setTimeout(function () {
                                    //     document.getElementById("heartdisease_form_details").reset();
                                    // }, 10000); // Refresh after 10 seconds
                                    // Reset the form after displaying the result
                                    document.getElementById("heartdisease_form_details").reset();
                                }

                                // Call the showTestResult function if the show_test_result is true
                                {% if show_test_result %}
                                showTestResult("{{ ecg_response }}");
                                {% endif %}
                            </script>
                        </form>

                    </div>
                </div>
            </div>
        </div>



        <!--? About Law Start-->
        <section class="about-low-area mt-30" style="margin-top: 150px;">
            <div class="container">
                <div class="about-cap-wrapper">
                    <div class="row">
                        <div class="col-xl-5  col-lg-6 col-md-10 offset-xl-1">
                            <div class="about-caption mb-50">
                                <!-- Section Tittle -->
                                <div class="section-tittle mb-35">
                                    <h2>Satisfaction guaranteed.</h2>
                                </div>
                                <p>Almost before we knew it, we had left the ground</p>
                                <a href="about.html" class="border-btn">Take a Test</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <!-- about-img -->
                            <div class="about-img">
                                <div class="about-font-img">
                                    <img src="{{ url_for('static', filename='img/gallery/about2.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Law End-->
    </main>
    <footer>
        <div class="footer-wrappr section-bg3"
            data-background="{{ url_for('static', filename='img/gallery/footer-bg.png') }}">
            <div class="footer-area footer-padding ">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="/"><img
                                            src="{{ url_for('static', filename='img/logo/logo_mediscan_footer.png') }}"
                                            alt="" style="height: 40px;"></a>
                                </div>
                                <d iv class="header-area">
                                    <div class="main-header main-header2">
                                        <div class="menu-main d-flex align-items-center justify-content-start">
                                            <!-- Main-menu -->
                                            <div class="main-menu main-menu2">
                                                <nav>
                                                    <ul>
                                                        <li><a href="/">Home</a></li>
                                                        <li><a href="/about">About</a></li>
                                                        <li><a href="/heart_attack">Tests</a></li>
                                                        <li><a href="/blog">Resources</a></li>
                                                        <li><a href="/contact">Contact</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </d>
                                <!-- social -->
                                <div class="footer-social mt-50">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="single-footer-caption">
                                <div class="footer-tittle mb-50">
                                    <h4>Subscribe Healthy Bites Today!</h4>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email"
                                                placeholder=" Email Address " class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Enter your email'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe our Health Tips
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-10 ">
                                <div class="footer-copy-right">
                                    <p>
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        This website is made with<i class="fa fa-heart" aria-hidden="true"></i> by <a
                                            href="https://mediscan360.com" target="_blank">MediScan-360</a>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <script>
        // Function to show the success message, blur the background, and display the loader
        function showSuccessMessage() {
            // Show the success message
            document.getElementById("successMessage").style.display = "block";

        }

        // Add an event listener to the form submission
        document.getElementById("heartdisease_form_details").addEventListener("submit", function (event) {
            // event.preventDefault(); // Prevent the default form submission behavior
            showSuccessMessage(); // Show the success message and loader
        });
    </script>

    <!-- JS here -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animated.headline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>

    <!-- Date Picker -->
    <script src="{{ url_for('static', filename='js/gijgo.min.js') }}"></script>
    <!-- Nice-select, sticky -->
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hover-direction-snake.min.js') }}"></script>

    <!-- contact js -->
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>